*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(249, 250, 250);
    justify-content: space-around;
}

.texts{
    margin: 20px;
    display: flex;
    font-size: large;
}

.texts:hover{
    color: rgb(16, 149, 7);
}

#login{
    display: flex;
    border-radius: 20px;
    padding: 10px;
}

.icon{
    padding: 10px;
    border-radius: 50%;
}

.icons{
    border-radius: 50%;
    margin: 20px;
    padding: 10px;
}

.icon:hover{
    background-color: aqua;
}

.icons:hover{
    background-color: aqua;
}

#login:hover{
    background-color: aqua;
}

#try{
    padding: 10px 20px;
    background-color: rgb(54, 197, 2);
    color: aliceblue;
    border-radius: 5px;
}

#try:hover{
    background-color: darkgreen;
}

#contactdetails{
    margin: 30px;
    font-weight: lighter;
}
#fakeheader{
    width: 100%;
    height: 10%;
}


#page1{
    width: 1000%;
    height: 90%;
    background-color: rgb(141, 141, 195);
}

#strip{
    width: 1000%;
    height: 8%;
    background-color: rgb(25, 1, 120);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

#page2{
    width: 1000%;
    height: 90%;
    background-color: rgb(65, 130, 25);
    align-items: center;
    color: black;
}

